body {
    height: 3000px;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 62px;
    position: fixed;
    background-color:#fff;
    z-index: 1;
}
header .nav {
    display: inline;
}
.nav-l {
    display: inline-flex;
    height: 40px;
    width: 1000px;
    margin-top: 10px;
}

header .nav .nav-l .nav-l-logo {
    margin-top: 5px;
    margin-left: 10px;
}
header .nav .nav-l .UP {
    margin-left: 12px;
    display:flex;
    margin-top: 3px;
    flex-direction: column;

}
.Un a {
    font-weight: bold;
    line-height: 1;
    font-size: 14px;
    text-decoration: none;
    color: #000;
}
.Ph a {
    font-size:12px;
    font-weight: normal;
    text-decoration: none;
    color: #000;
}
.kuang {
    border-radius: 50px;
    background-color: #eee;
    margin: 10px;
    margin-top: 6px;
    width: 800px;
    height: 40px;
    border: 1px solid transparent;
    padding: 1px 1px 1px 2px;
    margin-left: 10px;

}
.loupe {
    width: 16px;
    height: 16px;
    margin-left: 6px;
    vertical-align: middle;
    margin-top: 3px;
}
.loupe a {
  text-decoration: none;

}
.search{
    border: 1px solid transparent;
    background-color: #eee;
    display: inline-block;
    width: 760px;
    height: 37px;
    border: 1px solid #eee;
    font-size: 15px;
    border-radius: 50px;
    outline: none;
}
.nav-c {
    width: 180px;
    height: 30px;
    font-size:  14px;
    line-height: 1;
    display: inline-block;
    position: fixed;
    top: 23px;
    left: 1000px;
}
.nav-c a {
  text-decoration: none;
  color: #767676;
  font-weight: 400; 
  display: inline-block;

}
.nav-c a:hover {
  color: #000;
}
.nav-c a span {
  display: inline-flex;
  margin: 5px;
  font-size: 14px;
}
svg.dot {
  line-height: 5;
  margin-top: 0;
  padding-top: 3px;
}
.nav-r {
    background-color:#fff;
    font-size: 15px;
    font-weight: 400; 
    display: inline-flex;
    line-height: 1.6;
    color: #767676;
    text-decoration: none; 
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 1200px;
}
.nav-r a {
  text-decoration: none;
  color: #767676;
}
.nav-r a:hover {
    color: #000;
}
.Sap {
  width: 140px;
  height: 35px;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  margin: 0 auto ;
  margin-right: 30px;
  padding: 0px 8px 0px 18px ;
  line-height: 30px;
}
.Lo {
  display: inline-block;
  font-weight: 500;
  font-style: 14px;
  margin-right: 20px;
  padding: 5px;
}
span.Jo {
  color: #ffffff;
}
.Jo {
  padding: 5px;
  display: inline-block;
  background-color: #37a866;
  border: 1px solid #fff;
  height: 35px;
  border-radius: 5px;
}

.dhl {
  display: inline-block;
  height: 52px;
  width: 1700px;
  position: fixed;
  top: 60px;
  left: 0;
  background-color: #fff;
}
.dhl ul {
  display: inline-block;
  height: 52px;
}
.dhl ul li {
    margin: 15px;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    font-size: 14px;
}
.dhl ul li:nth-child(2) {
    padding-left: 15px;
    border-left: solid 1px #d1d1d1;
}
.dhl ul li:nth-child(1) {
  font-style: 14px;
  display: inline-block;
  height: 38px;
  box-shadow: inset 0 -2px #111;
}
.dhl ul li a {
    color: #767676;
    text-decoration: none;
}
.dhl ul li a:hover {
  color: #000;
}
.b-c {
    position: absolute;
    left: 0;
    background-image: url("./images/1.jpg");
    background-size: cover;
    width: 100%;
    height: 600px;
}
.b-2c {
  height: 250px;
  width: 860px;
  margin: 150px 360px 150px 360px;
}
.b-2c span {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  padding: 20px 0px ;
}
.b-3c h1 {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  padding: 5px 0px ;
}
.b-3c p {
  color: #fff;
  font-size: 18px;
}
.b-4c {
  width: 860px;
  height: 54px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
}
.loupe2 {
  display: inline;
  position: relative;
  top: -35px;
  left: 10px;
}
.b-4c input {
  width: 828px;
  height: 54px;
  border-radius: 9px;
  border: none;
  padding-left: 20px;
  margin-left: 30px;
  font-size: 15px;
  outline: none;
}
.b-5c {
  width: 830px;
  margin-top: 15px;

}

.b-5c ul li {
  list-style: none;
  display: inline-block;
  color: #fff;
}
.b-5c ul li a {
  text-decoration: none;
  color: hsla(0,0%,100%,.8)
}
.b-5c ul li a:hover {
  color: #fff;
}
.b-c-b {
  width: 1550px;
}
.b-c-b-l {
  display: inline-block;
  color: #eee;
  margin-right: 340px;
}
.b-c-b-l span {
  font-size: 14px;
}
.b-c-b-l span a {
  color: #fff;  
  text-decoration: none;
}
.b-c-b-c {
  display: inline-block;
  color: #eee;
  margin-right: 340px;

}
.b-c-b-c span {
  font-size: 14px;
}
.b-c-b-c span a {
  color: #fff;  
  text-decoration: none;
}
.b-c-b-r {
  display: inline-block;
  color: #eee;
  
}
.b-c-b-r span {
  font-size: 14px;
}
.b-c-b-r span a {
  text-decoration: none;
}
.pictures {
  width: 100%;
  display: inline-block;
  height: 3000px; 
  margin-top: 650px;
  background-color: #000;

}
.p-1 {
  width: 33%;
  height: 3000px;
  display: inline-block;
  background-color: #090;
}
.p-1 div {
  width: 100%;
  height: 600px;
  display: inline-block;
}
.p-1 div a img {
  width: 100%;
  height: 600px;
  display: inline-block;
}
.p-2 {
  width: 30%;
  height: 3000px;
  display: inline-block;
  background-color: #601;
}
.p-2 div {
  width: 100%;
  height: 600px;
  display: inline-block;
}
.p-2 div a img {
  width: 100%;
  height: 600px;
  display: inline-block;
}
.p-3 {
  width: 30%;
  height: 3000px;
  display: inline-block;
  background-color: #767676;
}
.p-3 div {
  width: 100%;
  height: 600px;
  display: inline-block;
}
.p-3 div a img {
  width: 100%;
  height: 600px;
  display: inline-block;

}